:root {
    --primary-bg-color: #e2f2ff81;
    --primary-text-color: #1e1e1e;
    --contrast-bg-color: #005296;
    --contrast-text-color: #def4fc;
    --error-text-color: #b9411b;
    --default-border-radius: 5px;
}